@import url("https://fonts.googleapis.com/css?family=Fredoka+One&display=swap");
html{
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}
html,
body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
.contents{
    height: 100%;
    width: 100%;
}


.container {
    height:100%;
    width:1200px;
    margin:0 auto;
    padding-top: 100px;
}

@media screen and (max-width: 800px) {
    .contents, .container {
        width: 100%;
        padding: 0;
    }
    .container{ width:100%;}
}

.logo{
    height: 100px;
    width: 100%;
    background-color: #0a0019;
}

section{
    height: 100%;
}

section h1, section h3, section h4, .footer h4{
    padding-top: 30px;
}

.section1{
    background-color:#0a0019;
}
.section1 h2{
    color:#D9D443;
    font-size: 30px;
    font-family: raleway-semibold,raleway,sans-serif;
}
.section1 h1{
    color:white;
    font-size: 40px;
}
.section1 h4{
    color:rgb(221, 219, 219);
    font-size: 20px;
    font-family: raleway,sans-serif;
}
.g2mpartners {
    display: flex;
    font-size: 60px;
    align-items: flex-start;
    justify-content: center;
    background-color:#0a0019;
    color: white;
    position: relative;
  }

.image{
    position: absolute;
    background: url('image.jpg') center center;
    width: 100%;
    height: 300px;
    background-size: cover;
    
}
span {
    font-family: raleway-semibold,raleway,sans-serif;
    position: sticky;
    top: calc(30% - 90px);
    height: 100px;
    display: inline-flex;
    align-items: center;
    mix-blend-mode: overlay;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 120px;
  }
 
  .c12 {
    margin-top: 200px;
  }
  

  
.section2{
    background-color:#0a0019;
}
.section2 h2{
    color:white;
    font-size: 20px;
   
}
.section2 h1{
    color:white;
    font-size: 30px;
}
.sec2line{
    margin: 30px 0;
}
.partline{
    margin:15px 0;
}

.part{
    text-align:center;
    display:inline-block;
    vertical-align: top;
    margin-right:150px
}
.part3{margin-right:0;}
.part:first-child{margin-left:0; margin-right:0;}
.section2>.container>h2, .section2 h1{ text-align:left;}
.section2 {
    text-align:center;
}

.section2 .part1 ul, .part2 ul, .part3 ul{
    color: white;
    text-align: left;
    line-height: 22px;
}

.section2 ul li {line-height:25px;}

.section3{
    background-color:white;
}

.section3 h2{
    color: #D9D443;    font-size:2rem;

    text-align: right;
}
.section3 h3{
    padding-top:50px;
    text-align: right;
}

.section3 table{
    height: 550px;
    margin-top: 20px;
    width:100%;
    text-align: center;
    border-collapse: collapse;
    
}
.section3 td,.section3 th{
    border-top: 1.5px solid #0a0019;
    border-bottom: 1.5px solid #0a0019;
    padding: 10px;

}
.section3 th{
    font-size: 15px;
    color:#0a0019;
}

.section4{
    background-color:#0a0019;
    color: #fff;
    height: 700px;
   
}
.section4 h1{
    font-size: 3rem;
    padding-top: 10px;
}

.section4 table{
    color:#fff;
    text-align: left;
    width: 100%;
    margin-top: 50px;
    border-collapse: collapse;
}

.section4 td,.section4 th{
    border-bottom: 1.5px solid #fff;
    padding: 10px;

}

.section5{
    background-color:white;
}

.footer{
    height: 15%;
    background-color:#0a0019;
    padding-left: 30px;
    color: rgb(221, 219, 219);
}

.imimg{
    float: left;
    margin: 10px 30px 0 100px;

}
.imformation h5{
    padding-top: 30px;
    line-height: 20px;
}

