* {
    margin: 0;
    padding: 0;
}
html,
body{
    height: 100%;
    width: 100%;
}
.contents{
    height: 100%;
    width: 100%;
}


.container {
    height:100%;
    width:1200px;
    margin:0 auto;
}

@media screen and (max-width: 800px) {
    .contents, .container {
        width: 100%;
        padding: 0;
    }
    .container{ width:100%;}
}

.logo{
    height: 120px;
    width: 100%;
    background-color: white;
}

.logo img{
    padding-right: 100px;
}

section{
    height: 100%;
}

section h2{

}
section h1, section h3, section h4, .footer h4{
    padding-top: 30px;
}

.section1{
    background-color:#1c2a6b;
}
.section1 h2{
    color:#21857C;
    font-size: 30px;
    font-family: raleway-semibold,raleway,sans-serif;
}
.section1 h1{
    color:white;
    font-size: 40px;
}
.section1 h4{
    color:rgb(221, 219, 219);
    font-size: 20px;
    font-family: raleway,sans-serif;
}

.image{
    background: url('image.jpg') center center;
    width: 100%;
    height: 300px;
    background-size: cover;
}

.section2{
    background-color:#2d3477;
}
.section2 h2{
    color:white;
    font-size: 20px;
   
}
.section2 h1{
    color:white;
    font-size: 30px;
}
.sec2line{
    margin-top: 30px;
}
.partline{
    margin-top: 10px;
}

.part{
    text-align:center;
    float: left;
    
}
.section2 .part1 h2, .part2 h2{

}


.section2 .part2 ul, .part3 ul{
    color: white;
}
.section2 .part1 ul{
    color: white;
}

.section3{
    background-color:white;
}

.section3 h2{
    color: #21857C;
    text-align: right;
}
.section3 h3{
    padding-top:50px;
    text-align: right;
}

.section3 table{
    height: 550px;
    margin-top: 20px;
    width:100%;
    text-align: center;
    border-collapse: collapse;
    
}
td,th{
    border-top: 1.5px solid #21857C;
    border-bottom: 1.5px solid #21857C;
    padding: 10px;

}
th{
    font-size: 15px;
}


.section3 table th{
    color:#21857C;
}



.section4{
    background-color:#21857C;
}

.section5{
    background-color:white;
}

.footer{
    width: 100%;
    height: 10%;
    background-color:#2d3477;
    color: white;
}